<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= Litelist.Settings.get_settings().name %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
   </head>

  <body>
    <div class="container">
      <header class="navbar">
        <div class="column col-md-12 col-10">
          <section class="navbar-section">
            <a href="/" class="navbar-brand mr"><%= Litelist.Settings.get_settings().name %></a>
            <a href="/post2list" class="btn btn-link">Post</a>
            <a href="/discussions" class="btn btn-link">Discuss</a>
            <%= if @conn.assigns.current_neighbor do %>
              <%= if @conn.assigns.current_neighbor.admin do %>
                  <a href="/admin" class="btn btn-link hide-sm hide-md">Administration</a>
              <% end %>            
              <a href="/dashboard" class="btn hide-sm hide-md btn-link">Dashboard</a>

              <%= link "Logout", to: Routes.page_path(@conn, :logout), method: :post, class: "btn btn-link hide-sm" %>
            <% else %>
              <%= link "Log in up", to: Routes.page_path(@conn, :login), method: :get, class: "btn btn-link"%>
              <%= link "Sign up", to: Routes.page_path(@conn, :signUp), method: :get, class: "btn btn-link"%>
            <% end %>
          </section>
        </div>
        <div class="column col-md-12 col-2">
          <section class="form-section">
              <form action="/search" class='search'method="get">
                <input id="search-form" class="search-form-input" type="text" name="search" placeholder="Search">         
              </form>
          </section>
        </div>
      </header>
<div class="divider text-center"></div>

      <% info = get_flash(@conn, :info)
      error = get_flash(@conn, :error)%>
      <%= if info do %>
        <div class="toast toast-success">
          <%= get_flash(@conn, :info) %>
        </div>

      <% end %>
      <%= if error do %>
      <div class="toast toast-error">
        <%= get_flash(@conn, :error) %>
      </div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
