<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Litelist</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
   </head>

  <body>
    <div class="container">
      <header class="navbar">
        <section class="navbar-section">

          <a href="/" class="navbar-brand mr-2">Othernet</a>
          <a href="/post2list" class="btn btn-link">Post 2 List</a>
          <a href="/dashboard" class="btn btn-link">Dashboard</a>
          <%= if @conn.assigns.current_neighbor do %>
            <%= if @conn.assigns.current_neighbor.admin do %>
                <a href="/admin" class="btn btn-link">Administration</a>
            <% end %>
            <%= link "Logout", to: page_path(@conn, :logout), method: :post, class: "btn btn-link" %>
          <% else %>
            <%= link "Login", to: page_path(@conn, :login), method: :get, class: "btn btn-link"%>
          <% end %>
        </section>
        <section class="navbar-section">
          <div class="input-group input-inline mt-5">
            <form action="/search" method="get">
              <div class="columns">
                <div class='column col-8'>                
                  <input class="form-input" type="text" name="search" placeholder="search">
                </div>
                <div class="column col-4">
                  <button class="btn btn-primary input-group-btn">Search</button>
                </div>
              </div>

            </form>
          </div>
        </section>
      </header>

      <% info = get_flash(@conn, :info)
      error = get_flash(@conn, :error)%>
      <%= if info do %>
        <div class="toast toast-success">
          <%= get_flash(@conn, :info) %>
        </div>

      <% end %>
      <%= if error do %>
      <div class="toast toast-error">
        <%= get_flash(@conn, :error) %>
      </div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
