<h2>My Discussions</h2>
<span><%= link "Export All", to: dashboard_path(@conn, :export_my_discussions), class: "btn btn-default btn-xs" %></span>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for discussion <- @discussions do %>
    <tr>
      <td><%= discussion.title %></td>
      <td><%= discussion.description %></td>
    </tr>
<% end %>
  </tbody>
</table>


