/* This file is for your main application css. */
.full-width{
	width:100%;
}
.blue{
	background:blue;
}
.cc{
	max-width: 1000px;
    margin: auto;
}
.col-cent{
	width: 85%;
    margin: auto;
}
.mt-60{
	margin-top:60px;
}
.mt-5{
	margin-top:5px;
}
.white{
	color:white;
}
.admin-dashboard, .dashboard{
	background: #f8f9fa;
}
.card-image{
	width:100%;
	max-width:400px;
	margin:auto;
	
}
.card-image img{
	height:100%;
	width:100%;
}
.ta-center{
	text-align: center;
}
.on-small{
	min-width:300px;
}
.red{
	color:red;
}