
#image {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: $pumpkin;
    width:100%;
    color: $unhealthy-poop;
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input{
	background:$pumpkin;
	border:0px;
	padding:10px;
}
#image:hover,
#image:focus {
    background: $dark-pumpkin;
}

#image:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#image:active {
    transform: scale(0.99);
}
#preview{
	max-width:100%;
	max-height:500px;

}
label{
	font-size:20px;
}
.btn.submit{
	color:black;
	background:$pumpkin;
	border:0px;
	width:100%;
	height: 45px;
}

#post_description{
}
.btn.submit:hover{
	color:white;
	background:$dark-pumpkin;
	border:0px;
}
.rules{
	color:$unhealthy-poop;
	ol{
		margin:0px;
		font-size:20px;
	}
}