a{
	color:black;
}
.h5{
	font-size: 1rem;
    font-weight: bold;
}
body{
	background:$offwhite;
	color:black;
}
.mt-60{
	margin-top:60px;
}
.mt-5{
	margin-top:5px;
}
.ta-center{
	text-align: center;
}
.full-width{
	width:100%;
}
.mr{
	margin-right: 1.4rem;
}
.divider {
    border-top: .05rem solid $dark-pumpkin;
    height: .05rem;
    margin: .4rem 0;
}