.box{
	text-align:center;
	position:relative;
	padding:60px 0px;
}
.box h1{

}
.box.brush{
	background:$brush;
}
.box.orange{
	background:$orange;
}
.box.ocean{
	background:$ocean;
}
.box.lake{
	background:$lake;
}
.box.dark-pumpkin{
	background:$dark-pumpkin;
}
