.show_page {
	h1{
		font-size:40px;
		text-align:center;
		letter-spacing:.09em;
		margin:0px;
  }
  
	h2 {
	font-size: 0.6rem;
  }
  
	.box {
		text-align:left;
		padding:10px;
		font-size:25px;
    font-weight:100;
    min-width: 100%;
		
		overflow:scroll;
		.img-responsive {
			display: block;
    		height: auto;
    		max-width: 95%;
    		max-height:100%;
    		margin: auto;
    }
		
		h2 {
			text-decoration:underline;
		}
  }

	.box:hover {
		color:black;
		opacity:1;
  }
  
  #flag_link {
    height: 100%;
    width: 100%;
    background-color: #EFB48D;
  }

  #flag_link_div {
    height: 30px;
    width: 115px;
    background-color: #EFB48D;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}