<h2>Listing Discussions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Url</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for discussion <- @discussions do %>
    <tr>
      <td><%= discussion.title %></td>
      <td><%= discussion.description %></td>
      <td><%= discussion.url %></td>
    </tr>
<% end %>
  </tbody>
</table>

