<h2>Show Discussion</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @discussion.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @discussion.description %>
  </li>

</ul>

<span><%= link "Edit", to: discussion_path(@conn, :edit, @discussion) %></span>
<span><%= link "Back", to: discussion_path(@conn, :index) %></span>
