<h2>Show Discussion</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @discussion.title %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @discussion.url %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @discussion.description %>
  </li>
</ul>

