<div class="divider text-center" data-content="EVENT POST"></div>
<%= render "_rules.html" %>

<%= render LitelistWeb.SharedView,"_form.html",Map.put(assigns, :data, get_form_data("Event")) %>

<span><%= link "Back", to: for_sale_path(@conn, :index) %></span>
