<h2>Edit Emergency information</h2>

<%= render "form.html", Map.put(assigns, :action, emergency_information_path(@conn, :update, @emergency_information)) %>

<span><%= link "Back", to: emergency_information_path(@conn, :index) %></span>
