<h2>New Emergency information</h2>

<%= render "form.html", Map.put(assigns, :action, emergency_information_path(@conn, :create)) %>

<span><%= link "Back", to: emergency_information_path(@conn, :index) %></span>
